.root[data-divider-top="true"] > .item:first-of-type {
  border-top: 1px solid var(--mantine-color-default-border);
}

.root[data-divider-bottom="true"] > .item:last-of-type {
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.item + .item {
  border-top: 1px solid var(--mantine-color-default-border);
}

.item {
  padding: rem(16px) rem(20px);
}
