.content {
  min-width: 90px;
  font-size: 12px;
  justify-content: start;
  width: 80%;
  height: 100%;
}

.contentWrapper {
  height: 100%;
}

.contentInput {
  height: 100%;
  white-space: pre-wrap;
}

.wrapper {
  min-width: 411px;
  background-color: var(--mantine-color-white);
  padding-left: 18px;
  padding-right: 20px;
  height: 160px;
  width: 100%;
  border-bottom: 1px solid var(--mantine-color-gray-2);
  align-items: start;
  padding: 20px;
}

.fieldText {
  min-width: 138px;
}
