.content {
  min-width: 90px;
  font-size: 12px;
  color: var(--mantine-color-dimmed);
  justify-content: start;
}
.wrapper {
  min-width: 411px;
  background-color: var(--mantine-color-white);
  padding-left: 18px;
  padding-right: 20px;
  min-height: 112px;
  width: 100%;
  border-bottom: 1px solid var(--mantine-color-gray-2);
  align-items: start;
  padding: 20px;
}
